:root {
  --main-color: rgb(211, 224, 234);
  --border-color: rgb(215, 213, 222);
  --box-shadow: 0 2px 2px 0px rgb(223, 238, 238);
}
* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
 background: linear-gradient(180deg, #7d7f83 0%, #454748 100%);
  display: grid;
  grid-template-columns: 1fr 5fr;
}
button {
  background: none;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}
/*SIDEBAR*/
.sidebar {
  background-color: rgba(185, 186, 191, 0.797);
  height: 100vh;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  box-shadow: var(--box-shadow);
}
.logo-page-container {
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  border-bottom: 1px solid black;
  box-shadow: var(--box-shadow);
  background-color: rgb(145, 145, 146);
}
#page-logo {
  width: 40px;
  height: auto;
}
.logo-page-container > h1 {
  letter-spacing: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navigation-container {
  padding: 1.5rem;
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-icon {
  height: 15px;
  width: 15px;
}

.nav-btn {
  width: 90%;
  text-align: start;
  background: none;
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0;
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  color: rgb(80, 85, 90);
  letter-spacing: 1px;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  transition: background-color 0.3s ease;
}
.nav-btn:hover {
  background-color: rgba(247, 244, 244, 0.519);
}
.nav-projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#my-projects-header {
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#pen-icon {
  height: 15px;
  padding: 5px;
}
#close-icon {
  height: 10px;
  padding: 5px;
}
#projects-container{
 display: flex;
 flex-direction: column;
 
}
.project {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 3px;
}
.project-name-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
#inbox {
  display: flex;
  align-items: center;
  gap: 5rem;
  transition: background-color 0.3s ease;
  padding: 10px;
  border-radius: 20px;
  width: 90%;
}
.circle-status-info {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(153, 159, 159);
}

#quantity-of-inbox {
  font-size: 14px;
  opacity: 0.5;
}
#inbox:hover {
  background-color: rgba(247, 244, 244, 0.519);
}
#icon-edit-btn {
  border-radius: 10px;
}
#icon-close-btn{
  border-radius: 10px;
}
#pen-icon {
  opacity: 0;
}
#close-icon{
  opacity: 0;
}
.project:hover {
  #pen-icon {
    opacity: 0.3;
  }
  #close-icon{
    opacity: 0.2;
  }
}
#icon-edit-btn:hover {
  background-color: rgb(163, 163, 170);
  #pen-icon {
    opacity: 0.7;
  }
}
#icon-delete-btn:hover {
  background-color: rgb(163, 163, 170);
  #close-icon {
    opacity: 1;
  }
}
#New-project {
  border: 1px dotted rgb(129, 130, 130);
  padding: 10px;
  border-radius: 15px;
  text-align: start;
  width: 90%;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgb(80, 85, 90);
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    transform 0.5s ease;
}
#New-project:hover {
  background-color: rgb(80, 85, 90);
  color: aliceblue;
  transform: scale(1.05);
}
#inbox:focus{
 background-color: rgba(247, 244, 244, 0.519);
 .circle-status-info{
  background-color: rgb(80, 85, 90)
 }
}
